<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= event.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= event.image %>
  </p>

</div>
