<h1>Editing network stuff</h1>

<%= render "form", network_stuff: @network_stuff %>

<br>

<div>
  <%= link_to "Show this network stuff", @network_stuff %> |
  <%= link_to "Back to network stuffs", network_stuffs_path %>
</div>
